@media only screen and (max-width:600px){

    body{
        font-size: xx-small;
        width:100vw;
        overflow-x: hidden;

    }
    .mainDiv{
        background-color: #ff7b00;
        width:100vw;
        height:100vh;
        color:#ffffff;
        margin:auto;
        overflow:hidden;
        
    
    }
    h1{
        text-align: center;
    }
    
    .question{
       width:80vw;
       margin-top:5vh;
       height:30vh;
       margin-left:10vw;
       margin-right: 10vw;
       font-size:120%;
       line-height:1.2em;
       padding-left:50px;
       padding-right:50px;
       text-align: center;
       color:#1f1f1f;
    }
    .topOptions{
        display:flex;
        align-items: center;
        justify-content: space-around;
        width:80vw;
        margin-left: 10vw;
        margin-right: 10vw;
        display:none;
    
    }
    .topOptions>button{
        width:150px;
        height:40px;
        border-radius:20px;
        border:2px solid #fc3363;
        background-color: #fc3363;
        
    
    }
    .topOptions>button:hover{
        background-color: green;
        border:2px solid green;
        color:black;
    
    }
    .Next{
        text-align: center;
        margin-top:50px;
    
    }
    .Next>button{
        width:200px;
        height:40px;
        border:3px solid #0a86ff;
        background-color:#0a86ff ;
        color:#ffffff;
    
    }
    .Next>button:hover{
        background-color: #ffffff;
        color:black;
    
    }
    .solution{
        display:none;
        width:100vw;
        height:100vh;
        background-color:black;
        color:green;
        font-size:90%;
        text-align:center;
        line-height:5.0em;
        padding-top:100px;
        z-index:2;
        position:relative;
    }
    .solution>h2{
        font-size:110%;
    }
    .explain{
        width:80vw;
        margin-left:10vw;
        margin-right:10vw;
        font-size:110%;
        line-height: 1.4em;
    }
    strong{
        text-decoration: underline;
        cursor: pointer;
    }
    strong:hover{
        color:white;
    }
    
    }
